extends layout

block content
  .row.header-row
    .tweleve.columns.link-content-wrapper
        .row
          .six.columns.offset-by-six
            .link-content-second-wrapper
              .three.columns.individual-link-area
                a(href="#", class="header-link") Skills
              .four.columns.individual-link-area
                a(href="#", class="header-link", id="experience-link") Experience
              .four.columns.individual-link-area
                a(href="#", class="header-link") Education
