extends layout

block content
  .row-fluid
    .span12.header-row
      .row-fluid.header-row-contents
          .span6.offset6
            .span3.individual-link-area#first-link
              a(href="#", class="header-link", id="skill-link") Skills
            .span4.individual-link-area
              a(href="#", class="header-link", id="experience-link") Experience
            .span4.individual-link-area
              a(href="#", class="header-link") Education
