
extends layout

block content
  .row-fluid
    .span12.header-row
      .row-fluid.header-row-contents
        #my-logo.span3
          img(src= '/images/willsLogo.png', alt="logo")
        .span6.offset6.header-link-wrapper
          .span3.individual-link-area#first-link
            a(href="#", class="header-link", id="skill-link") Skills
          .span4.individual-link-area
            a(href="#", class="header-link", id="experience-link") Experience
          .span4.individual-link-area
            a(href="#", class="header-link") Education
    .row-fluid.body-wrapper
      .row-fluid
        .span12.self-info-row.common-row-format
          h1 My Thoughts
          p.self-thoughts-paragraph I love the artform of web development.
            | I am excited to  learn new technologies that help the web
            | become a more accessible source of information.
      .row-fluid
        .span12.skills-row.common-row-format
          h1 Skills
          h2.indent-h2 Web Technologies
          ul.web-technologies-list
            li
              h3 HTML and Templating Engines - Haml, Handlebars, Mustache, Jade
            li
              h3 CSS and Preprocessors - SASS, Less, Stylus, Twitter Bootstrap, Foundation
            li
              h3 SQL - MSSQL, Mongodb
            li
              h3 JavaScript - jQuery, Backbone.js, Node.js
            li
              h3 JavaScript Preprocessor - CoffeeScript
            li
              h3 Web Frameworks - Ruby on Rails, Express
            li
              h3 Version Control - Git
          h2.indent-h2 Applications
          ul.applications-list
            li
              h3 Microsoft Office
            li
              h3 Adobe Fireworks
            li
              h3 Adobe Photoshop
            li
              h3 Adobe Illustrator
          h2.indent-h2 Operating Systems
          ul.operating-system-list
            li
              h3 Linux
            li
              h3 Windows
          h2.indent-h2 Agile Methodologies
          h2.indent-h2 Test Driven Development

      .row-fluid
        .span12.experience-row.common-row-format
          h1 Experience
          h2.indent-h2 Web Site Design
          h3.indent-h3 Refine for Men (August 2012 - Present)
          ul.refine-list
            li
              h4 Manage content and design for entire site
            li
              h4 Used Storeenvy’s built-in html editor to design shop page
          h5.shop-detail Shade selector uses Backbone

          h2.indent-h2 Business
          h3.indent-h3 Spectagon Studios (September 2011 - June 2012)
          h3.indent-h3 Marketing Analyst
          ul.chroma-list
            li
              h4 Conducted surveys for the game Chroma to understand the gaming markets
            li
              h4 Researched gaming trends and provided input
            li
              h4 Play tested Chroma to ensure bugs are fixed
      .row-fluid
        .span12.education-row.common-row-format
          h1 Education
          h2.indent-h2 University of California Santa Cruz (2007 - 2011)
          p.indent-degree Bachelor of Arts - Business Management Economics Degree
      .row-fluid
        .span12.contact-row.common-row-format
          h2 Contact Info
          p.contact-info-paragraph wklhuey@gmail.com |
             a(href="http://www.wklhuey.wordpress.com", id="blog-link") www.wklhuey.wordpress.com

