extends layout

block content
  .row.header-row
    .header-row-contents
      .row.link-area
        .tweleve.columns.link-content
          .six.columns.offset-by-six
            .three.columns.individual-link-area
              a(href="#", class="header-link") Skills
            .four.columns.individual-link-area
              a(href="#", class="header-link", id="experience-link") Experience
            .four.columns.individual-link-area
              a(href="#", class="header-link") Education
