
extends layout

block content
  .row-fluid
    .span12.header-row
      .row-fluid.header-row-contents
        #my-logo.span3
          img(src= '/images/willsLogo.png', alt="logo")
        .span6.offset6.header-link-wrapper
          .span3.individual-link-area#first-link
            a(href="#skill-part", class="header-link", id="skill-link") Skills
          .span4.individual-link-area
            a(href="#experience-part", class="header-link", id="experience-link") Experience
          .span4.individual-link-area
            a(href="#education-part", class="header-link") Education
    .row-fluid.body-wrapper
      .row-fluid
        .span12.self-info-row.common-row-format
          h1.top-headers My Thoughts
          p.self-thoughts-paragraph I love the artform of web development.
            | I am excited to learn new technologies that help make the web
            | more accessible for information.
      .row-fluid
        .span12.skills-row.common-row-format
          h1(id="skill-part", class="top-headers") Skills
          h2.indent-h2.secondary-headers Web Technologies
          div.web-technologies-list
            div
              h1.sub-header HTML and Templating Engines
              p.sub-category Haml, Handlebars, Mustache, Jade
            div
              h1.sub-header CSS and Preprocessors
              p.sub-category SASS, Less, Stylus, Twitter Bootstrap, Foundation
            div
              h1.sub-header SQL
              p.sub-category MSSQL, Mongodb
            div
              h1.sub-header JavaScript
              p.sub-category jQuery, Backbone.js, Node.js
            div
              h1.sub-header JavaScript Preprocessor
              p.sub-category CoffeeScript
            div
              h1.sub-header Web Frameworks
              p.sub-category Ruby on Rails, Express
            div
              h1.sub-header Version Control
              p.sub-category Git
          h2.indent-h2.secondary-headers Applications
          ul.applications-list
            li
              h1.sub-header Microsoft Office
            li
              h1.sub-header Adobe Fireworks
            li
              h1.sub-header Adobe Photoshop
            li
              h1.sub-header Adobe Illustrator
          h2.indent-h2.secondary-headers Operating Systems
          ul.operating-system-list
            li
              h1.sub-header Linux
            li
              h1.sub-header Windows
          h2.indent-h2.secondary-headers Agile Methodologies
          h2.indent-h2.secondary-headers Test Driven Development

      .row-fluid
        .span12.experience-row.common-row-format
          h1(id="experience-part", class="top-headers") Experience

          h2.indent-h2.secondary-headers Web Site Design
          h3.indent-h3.sub-header.experience-header Refine for Men (August 2012 - Present)
          div.refine-list
            p.sub-category.refine-items Manage content and design for entire site
            p.sub-category.refine-items Used Storeenvy’s built-in html editor to design shop page.
            p.sub-category.refine-items.refine-details Shade selector uses Backbone

          h2.indent-h2.secondary-headers Business
          h3.indent-h3.sub-header.experience-header Spectagon Studios (September 2011 - June 2012)
          h3.indent-h3.sub-header.experience-header Marketing Analyst
          div.chroma-list
            p.sub-category Conducted surveys for the game Chroma to understand the gaming markets
            p.sub-category Researched gaming trends and provided input
            p.sub-category Play tested Chroma to ensure bugs are fixed
      .row-fluid
        .span12.education-row.common-row-format
          h1(id="education-part", class="top-headers") Education
          h2.indent-h2.secondary-headers University of California Santa Cruz (2007 - 2011)
          p.indent-degree.sub-category Bachelor of Arts - Business Management Economics Degree
      .row-fluid
        .span12.contact-row.common-row-format
          h2.top-headers Contact Info
          p.contact-info-paragraph.sub-category.contact-paragraph wklhuey@gmail.com |
             a(href="http://www.wklhuey.wordpress.com", id="blog-link") www.wklhuey.wordpress.com

