@font-face{font-family:'nevis';src:url("/fonts/nevis-webfont.eot");src:url("/fonts/nevis-webfont.eot") format('embedded-opentype'),url("/fonts/nevis-webfont.woff") format('woff'),url("/fonts/nevis-webfont.ttf") format('truetype'),url("/fonts/nevis-webfont.svg") format('svg');font-weight:normal;font-style:normal}
html,body{background-image:url("/images/fabric_plaid.png");width:100%;padding:0 0 0 0}
ul{list-style:none}
.header-row{background-color:#808080;height:5.625em;width:100%;-webkit-box-shadow:0 0 3px 1px #6b6b6b;box-shadow:0 0 3px 1px #6b6b6b;-webkit-box-shadow:0 0 3px 1px #6b6b6b;-moz-box-shadow:0 0 3px 1px #6b6b6b;-o-box-shadow:0 0 3px 1px #6b6b6b;border-bottom:solid 1px #a9a9a9}
.header-row-contents{position:relative;width:62.5em;height:5.625em;font-family:nevis;margin:auto}
.header-link-wrapper{margin-left:50% !important}
.header-link{text-decoration:none !important;color:#fff;font-size:1.5em;outline:0 !important;}
.header-link:hover{color:#d3d3d3}
.header-link:visited{color:#fff;}
.header-link:visited:hover{color:#d3d3d3}
.individual-link-area{margin-top:5%}
#experience-link{margin-left:-6.5%}
#my-logo{width:150px;top:12px;left:5%;position:absolute}
.body-wrapper{width:62.5em;margin:auto;clear:both}
.top-headers{font-family:nevis;font-size:2.5em;font-weight:500}
.secondary-headers{font-family:nevis;font-weight:500;font-size:2em}
.common-row-format{padding:2.1875em;padding-left:3.125em;padding-right:3.125em}
.self-info-row{background-color:#fafafa}
.sub-header{font-size:1.5em;font-weight:500;font-family:nevis;letter-spacing:.08em}
.sub-category{font-weight:normal;font-size:1.3em;font-family:Times New Roman;padding-left:1.875em;letter-spacing:.08em}
.self-thoughts-paragraph{padding-left:2.5em;font-size:1.3em;line-height:1.6em;font-weight:normal;font-family:Times New Roman;letter-spacing:.08em}
.skills-row{background-color:#f4f4f4}
.web-technologies-list,.applications-list,.operating-system-list{padding-left:4.375em}
.indent-h2{padding-left:1.25em}
.indent-h3{padding-left:3.3125em}
.refine-list,.chroma-list{padding-left:5.625em}
.refine-details{font-size:1.2em;padding-left:3.125em}
.experience-row{background-color:#fafafa}
.education-row{background-color:#f4f4f4}
.experience-header{padding-left:3.9375em}
.indent-degree{font-size:1.3em;padding-left:6.125em}
.contact-row{background-color:#fafafa;padding-bottom:25em}
.contact-info-paragraph{padding-left:2.5em;font-size:1.2em}
.contact-paragraph{font-family:nevis;font-weight:normal}
#blog-link{padding-left:.4em}
@media screen and (max-width: 79em){body{padding:0}
.header-row-contents{width:100%}
.body-wrapper{width:100%}
}@media screen and (min-width: 0em) and (max-width: 47.9375em){.header-link-wrapper{margin-left:0% !important}
#my-logo{position:relative;margin:auto;left:0%}
.individual-link-area{background-color:#a9a9a9;clear:both}
.individual-link-area{margin-top:0%;margin-bottom:.625em;text-align:center}
#first-link{margin-top:1.875em}
#experience-link{margin-left:0%}
.header-row{height:15.3125em}
}