$width-of-header = (1000/16)em
$height-of-header = (90/16)em

html, body
    background-image url('/images/fabric_plaid.png')

.header-row
    background-color gray
    height $height-of-header
    width 100%
    box-shadow 0px 0px 3px 1px #6B6B6B
    -webkit-box-shadow 0px 0px 3px 1px #6B6B6B
    -moz-box-shadow 0px 0px 3px 1px #6B6B6B
    -o-box-shadow 0px 0px 3px 1px #6B6B6B
    border-bottom solid 1px darkgray

.header-row-contents
    width $width-of-header
    height $height-of-header
    margin auto

.link-content-wrapper
    width $width-of-header
    margin auto
    float none

.link-content-second-wrapper
    float right

.individual-link-area
    margin-top 8%

.header-link
    color white
    font-size 1.5em
    outline 0
    &:hover
        color lightgray
    &:visited
        color white
        &:hover
            color lightgray

@media screen and (max-width: 1279px)
    .link-content-wrapper
        width 100%
    .individual-link-area
        float left

@media screen and (max-width: 750px)
    .link-content-second-wrapper
        margin auto
        width 55%













