$width-of-header = (1000/16)em
$height-of-header = (90/16)em

@font-face
    font-family 'nevis'
    src url('/fonts/nevis-webfont.eot')
    src url('/fonts/nevis-webfont.eot') format('embedded-opentype'),
    url('/fonts/nevis-webfont.woff') format('woff'),
    url('/fonts/nevis-webfont.ttf') format('truetype'),
    url('/fonts/nevis-webfont.svg') format('svg');
    font-weight normal
    font-style normal

html, body
    background-image url('/images/fabric_plaid.png')
    width 100%
    padding 0px 0px 0px 0px

ul
    list-style none



.header-row
    background-color gray
    height $height-of-header
    width 100%
    box-shadow 0px 0px 3px 1px #6B6B6B
    -webkit-box-shadow 0px 0px 3px 1px #6B6B6B
    -moz-box-shadow 0px 0px 3px 1px #6B6B6B
    -o-box-shadow 0px 0px 3px 1px #6B6B6B
    border-bottom solid 1px darkgray

.header-row-contents
    position relative
    width $width-of-header
    height $height-of-header
    font-family nevis
    margin auto

.header-link-wrapper
    margin-left 50% !important

.header-link
    text-decoration none !important
    color white
    font-size 1.5em
    outline 0 !important
    &:hover
        color lightgray
    &:visited
        color white
        &:hover
            color lightgray

.individual-link-area
    margin-top 5%

#experience-link
    margin-left -6.5%

#my-logo
    width 150px
    top 12px
    left 5%
    position absolute

.body-wrapper
    width $width-of-header
    margin auto
    clear both

.top-headers
    font-family nevis
    font-size 2.5em
    font-weight 500

.secondary-headers
    font-family nevis
    font-weight 500
    font-size 2em

.common-row-format
    padding (35/16)em
    padding-left (50/16)em
    padding-right (50/16)em

.self-info-row
    background-color #fafafa

.self-thoughts-paragraph
    padding-left (40/16)em
    font-size 1.3em
    line-height 1.6em
    font-weight normal
    font-family Times New Roman
    letter-spacing 0.08em

.skills-row
    background-color #f4f4f4

.web-technologies-list,
.applications-list,
.operating-system-list
    padding-left (60/16)em

.indent-h2
   padding-left (20/16)em

.indent-h3
   padding-left (53/16)em

.refine-list, .chroma-list
    padding-left (90/16)em

.shop-detail
    padding-left (150/16)em

.experience-row
    background-color #fafafa

.education-row
    background-color #f4f4f4

.indent-degree
    font-size 1.3em
    padding-left (70/16)em

.contact-row
    background-color #fafafa

.contact-info-paragraph
    padding-left (40/16)em
    font-size 1.2em

#blog-link
    padding-left 0.4em


/*1279px*/
@media screen and (max-width: 79em)
    body
        padding 0px
    .header-row-contents
        width 100%
    .body-wrapper
        width 100%

/*765px*/
@media screen and (min-width: 0em) and (max-width: 47.9375em)
    .header-link-wrapper
        margin-left 0% !important
    #my-logo
        position relative
        margin auto
        left 0%
    .individual-link-area
        background-color darkgray
        clear both
    .individual-link-area
        margin-top 0%
        margin-bottom (10/16)em
        text-align center
    #first-link
        margin-top (30/16)em
    #experience-link
        margin-left 0%
    .header-row
        height (245/16)em


















