
html, body
    background-image url('/images/fabric_plaid.png')

.header-row
    background-color gray
    height (90/16)em
    width 100%
    box-shadow 0px 0px 3px 1px #6B6B6B
    -webkit-box-shadow 0px 0px 3px 1px #6B6B6B
    -moz-box-shadow 0px 0px 3px 1px #6B6B6B
    -o-box-shadow 0px 0px 3px 1px #6B6B6B
    border-bottom solid 1px darkgray

.header-row-contents
    width (1000/16)em
    height (90/16)em
    margin auto

.link-content
    width (1000/16)em

.header-link
    color white
    font-size 1.5em
    outline 0

.header-link:hover
    color lightgray

.header-link:visited
    color white

.header-link:visited:hover
    color lightgray





